In [1]:
import re
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/katiegarrett/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
top_2018 = pd.read_csv('../data/top_2018.csv')
top_2018.head()

,Unnamed: 0,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,can_mod_post,contest_mode,created_utc,...,previous_visits,media,media_embed,secure_media,secure_media_embed,crosspost_parent,crosspost_parent_list,author_cakeday,distinguished,date
0,0,MsPinkieToad,NaN,[],NaN,text,t2_1dc16t36,False,False,1537822662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-24 20:57:42+00:00
1,1,Geometer99,NaN,[],NaN,text,NaN,False,False,1526342301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-05-14 23:58:21+00:00
2,2,The_Gr8_Catsby,NaN,"[{'e': 'text', 't': 'Elementary Title I Interv...",Elementary Title I Interventionist,richtext,NaN,False,False,1535173849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-25 05:10:49+00:00
3,3,Lin0ge,NaN,[],NaN,text,t2_1maylyc1,False,False,1536850974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-13 15:02:54+00:00
4,4,Tech_Whisperer,NaN,"[{'e': 'text', 't': 'High School Business &amp...",High School Business & Computers Teacher,richtext,t2_19pfy0,False,False,1535477630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-28 17:33:50+00:00

In [3]:
top_2018["combined"] = top_2018["title"].astype(str) + top_2018["selftext"].astype(str)

In [4]:
top_2018["row_id"] = top_2018.index + 1 
print (top_2018.head(10))

   Unnamed: 0              author  author_flair_css_class  \
0           0        MsPinkieToad                     NaN
1           1          Geometer99                     NaN
2           2      The_Gr8_Catsby                     NaN
3           3              Lin0ge                     NaN
4           4      Tech_Whisperer                     NaN
5           5          KzooRichie                     NaN
6           6  theodore_boozevelt                     NaN
7           7      sofa_king_nice                     NaN
8           8  theodore_boozevelt                     NaN
9           9   dinosaregaylikeme                     NaN

                               author_flair_richtext  \
0                                                 []
1                                                 []
2  [{'e': 'text', 't': 'Elementary Title I Interv...
3                                                 []
4  [{'e': 'text', 't': 'High School Business &amp...
5                                                 []
6        [{'e': 'text', 't': 'High School French '}]
7                                                 []
8                                                 []
9                                                 []

                          author_flair_text author_flair_type author_fullname  \
0                                       NaN              text     t2_1dc16t36
1                                       NaN              text             NaN
2        Elementary Title I Interventionist          richtext             NaN
3                                       NaN              text     t2_1maylyc1
4  High School Business & Computers Teacher          richtext       t2_19pfy0
5                                       NaN              text             NaN
6                       High School French           richtext             NaN
7                                       NaN              text        t2_x68mm
8                                       NaN              text             NaN
9                                       NaN              text             NaN

   can_mod_post  contest_mode  created_utc  ... media_embed secure_media  \
0         False         False   1537822662  ...         NaN          NaN
1         False         False   1526342301  ...         NaN          NaN
2         False         False   1535173849  ...         NaN          NaN
3         False         False   1536850974  ...         NaN          NaN
4         False         False   1535477630  ...         NaN          NaN
5         False         False   1525288070  ...         NaN          NaN
6         False         False   1533316703  ...         NaN          NaN
7         False         False   1537496314  ...         NaN          NaN
8         False         False   1527640979  ...         NaN          NaN
9         False         False   1528997110  ...         NaN          NaN

   secure_media_embed crosspost_parent crosspost_parent_list  author_cakeday  \
0                 NaN              NaN                   NaN             NaN
1                 NaN              NaN                   NaN             NaN
2                 NaN              NaN                   NaN             NaN
3                 NaN              NaN                   NaN             NaN
4                 NaN              NaN                   NaN             NaN
5                 NaN              NaN                   NaN             NaN
6                 NaN              NaN                   NaN             NaN
7                 NaN              NaN                   NaN             NaN
8                 NaN              NaN                   NaN             NaN
9                 NaN              NaN                   NaN             NaN

  distinguished                       date  \
0           NaN  2018-09-24 20:57:42+00:00
1           NaN  2018-05-14 23:58:21+00:00
2           NaN  2018-08-25 05:10:49+00:00
3           NaN  2018-09-13 15:02:54+00:00
4           NaN  2018-08-28 17:33:50+00:00
5           NaN  2018-05-02 19:07:50+00:00
6           NaN  2018-08-03 17:18:23+00:00
7           NaN  2018-09-21 02:18:34+00:00
8           NaN  2018-05-30 00:42:59+00:00
9           NaN  2018-06-14 17:25:10+00:00

                                            combined  row_id
0  Teachers, how do you respond to a parent like ...       1
1  What I did to my students who didn't even star...       2
2  When you walk down the hall and hear a kinderg...       3
3  Teaching middle school is like my boss saying ...       4
4                                  Back to Schoolnan       5
5  A kid in my class told me he put adderall in t...       6
6  Guys, we need to behave better in meetings tha...       7
7  A parent approached me at a restaurant tonight...       8
8  Iâ€™m a young female teacher. I had noticeable a...       9
9  Graduation ended yesterday at noon. I came hom...      10

[10 rows x 76 columns]

In [5]:
top_2018_subset = top_2018[['row_id', 'combined']].copy()
#data clean-up
#remove all non-aphabet characters
top_2018_subset['combined'] = top_2018_subset['combined'].str.replace("[^a-zA-Z#]", " ")
#convert to lower-case
top_2018_subset['combined'] = top_2018_subset['combined'].str.casefold()
print (top_2018_subset.head(10))

   row_id                                           combined
0       1  teachers  how do you respond to a parent like ...
1       2  what i did to my students who didn t even star...
2       3  when you walk down the hall and hear a kinderg...
3       4  teaching middle school is like my boss saying ...
4       5                                  back to schoolnan
5       6  a kid in my class told me he put adderall in t...
6       7  guys  we need to behave better in meetings tha...
7       8  a parent approached me at a restaurant tonight...
8       9  i m a young female teacher  i had noticeable a...
9      10  graduation ended yesterday at noon  i came hom...

/var/folders/4_/948td82x7jlf4pz0c4dtqn_00000gn/T/ipykernel_2467/3758262170.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  top_2018_subset['combined'] = top_2018_subset['combined'].str.replace("[^a-zA-Z#]", " ")

In [6]:
df1=pd.DataFrame()
df1['row_id']=['99999999999']
df1['sentiment_type']='NA999NA'
df1['sentiment_score']=0

In [7]:
print('Processing sentiment analysis...')
sid = SentimentIntensityAnalyzer()
t_df = df1
for index, row in top_2018_subset.iterrows():
    scores = sid.polarity_scores(row[1])
    for key, value in scores.items():
        temp = [key,value,row[0]]
        df1['row_id']=row[0]
        df1['sentiment_type']=key
        df1['sentiment_score']=value
        t_df=t_df.append(df1)
#remove dummy row with row_id = 99999999999
t_df_cleaned = t_df[t_df.row_id != '99999999999']
#remove duplicates if any exist
t_df_cleaned = t_df_cleaned.drop_duplicates()
# only keep rows where sentiment_type = compound
t_df_cleaned = t_df[t_df.sentiment_type == 'compound']
print(t_df_cleaned.head(10))

Processing sentiment analysis...
   row_id sentiment_type  sentiment_score
0       1       compound          -0.9062
0       2       compound          -0.1635
0       3       compound          -0.9738
0       4       compound           0.8622
0       5       compound           0.0000
0       6       compound           0.4767
0       7       compound          -0.6486
0       8       compound           0.8074
0       9       compound          -0.8806
0      10       compound           0.8126

In [8]:
df_output = pd.merge(top_2018, t_df_cleaned, on='row_id', how='inner')
print(df_output.head(10))

   Unnamed: 0              author  author_flair_css_class  \
0           0        MsPinkieToad                     NaN
1           1          Geometer99                     NaN
2           2      The_Gr8_Catsby                     NaN
3           3              Lin0ge                     NaN
4           4      Tech_Whisperer                     NaN
5           5          KzooRichie                     NaN
6           6  theodore_boozevelt                     NaN
7           7      sofa_king_nice                     NaN
8           8  theodore_boozevelt                     NaN
9           9   dinosaregaylikeme                     NaN

                               author_flair_richtext  \
0                                                 []
1                                                 []
2  [{'e': 'text', 't': 'Elementary Title I Interv...
3                                                 []
4  [{'e': 'text', 't': 'High School Business &amp...
5                                                 []
6        [{'e': 'text', 't': 'High School French '}]
7                                                 []
8                                                 []
9                                                 []

                          author_flair_text author_flair_type author_fullname  \
0                                       NaN              text     t2_1dc16t36
1                                       NaN              text             NaN
2        Elementary Title I Interventionist          richtext             NaN
3                                       NaN              text     t2_1maylyc1
4  High School Business & Computers Teacher          richtext       t2_19pfy0
5                                       NaN              text             NaN
6                       High School French           richtext             NaN
7                                       NaN              text        t2_x68mm
8                                       NaN              text             NaN
9                                       NaN              text             NaN

   can_mod_post  contest_mode  created_utc  ... secure_media_embed  \
0         False         False   1537822662  ...                NaN
1         False         False   1526342301  ...                NaN
2         False         False   1535173849  ...                NaN
3         False         False   1536850974  ...                NaN
4         False         False   1535477630  ...                NaN
5         False         False   1525288070  ...                NaN
6         False         False   1533316703  ...                NaN
7         False         False   1537496314  ...                NaN
8         False         False   1527640979  ...                NaN
9         False         False   1528997110  ...                NaN

  crosspost_parent  crosspost_parent_list author_cakeday distinguished  \
0              NaN                    NaN            NaN           NaN
1              NaN                    NaN            NaN           NaN
2              NaN                    NaN            NaN           NaN
3              NaN                    NaN            NaN           NaN
4              NaN                    NaN            NaN           NaN
5              NaN                    NaN            NaN           NaN
6              NaN                    NaN            NaN           NaN
7              NaN                    NaN            NaN           NaN
8              NaN                    NaN            NaN           NaN
9              NaN                    NaN            NaN           NaN

                        date  \
0  2018-09-24 20:57:42+00:00
1  2018-05-14 23:58:21+00:00
2  2018-08-25 05:10:49+00:00
3  2018-09-13 15:02:54+00:00
4  2018-08-28 17:33:50+00:00
5  2018-05-02 19:07:50+00:00
6  2018-08-03 17:18:23+00:00
7  2018-09-21 02:18:34+00:00
8  2018-05-30 00:42:59+00:00
9  2018-06-14 17:25:10+00:00

                                            combined row_id  sentiment_type  \
0  Teachers, how do you respond to a parent like ...      1        compound
1  What I did to my students who didn't even star...      2        compound
2  When you walk down the hall and hear a kinderg...      3        compound
3  Teaching middle school is like my boss saying ...      4        compound
4                                  Back to Schoolnan      5        compound
5  A kid in my class told me he put adderall in t...      6        compound
6  Guys, we need to behave better in meetings tha...      7        compound
7  A parent approached me at a restaurant tonight...      8        compound
8  Iâ€™m a young female teacher. I had noticeable a...      9        compound
9  Graduation ended yesterday at noon. I came hom...     10        compound

   sentiment_score
0          -0.9062
1          -0.1635
2          -0.9738
3           0.8622
4           0.0000
5           0.4767
6          -0.6486
7           0.8074
8          -0.8806
9           0.8126

[10 rows x 78 columns]

In [9]:
df_output[["sentiment_score"]].describe()

       sentiment_score
count       717.000000
mean          0.244506
std           0.716004
min          -0.995900
25%          -0.455600
50%           0.471500
75%           0.940000
max           0.998800

In [10]:
top_2018_final = df_output

In [11]:
top_2018_final['year'] = 2018

In [12]:
top_2018_final.head()

,Unnamed: 0,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,can_mod_post,contest_mode,created_utc,...,crosspost_parent,crosspost_parent_list,author_cakeday,distinguished,date,combined,row_id,sentiment_type,sentiment_score,year
0,0,MsPinkieToad,NaN,[],NaN,text,t2_1dc16t36,False,False,1537822662,...,NaN,NaN,NaN,NaN,2018-09-24 20:57:42+00:00,"Teachers, how do you respond to a parent like ...",1,compound,-0.9062,2018
1,1,Geometer99,NaN,[],NaN,text,NaN,False,False,1526342301,...,NaN,NaN,NaN,NaN,2018-05-14 23:58:21+00:00,What I did to my students who didn't even star...,2,compound,-0.1635,2018
2,2,The_Gr8_Catsby,NaN,"[{'e': 'text', 't': 'Elementary Title I Interv...",Elementary Title I Interventionist,richtext,NaN,False,False,1535173849,...,NaN,NaN,NaN,NaN,2018-08-25 05:10:49+00:00,When you walk down the hall and hear a kinderg...,3,compound,-0.9738,2018
3,3,Lin0ge,NaN,[],NaN,text,t2_1maylyc1,False,False,1536850974,...,NaN,NaN,NaN,NaN,2018-09-13 15:02:54+00:00,Teaching middle school is like my boss saying ...,4,compound,0.8622,2018
4,4,Tech_Whisperer,NaN,"[{'e': 'text', 't': 'High School Business &amp...",High School Business & Computers Teacher,richtext,t2_19pfy0,False,False,1535477630,...,NaN,NaN,NaN,NaN,2018-08-28 17:33:50+00:00,Back to Schoolnan,5,compound,0.0000,2018

In [13]:
top_2018_final = top_2018_final[['author', 'created_utc', 'date', 'combined', 'row_id', 'sentiment_score', 'year']]

In [14]:
top_2018_final.head()

,author,created_utc,date,combined,row_id,sentiment_score,year
0,MsPinkieToad,1537822662,2018-09-24 20:57:42+00:00,"Teachers, how do you respond to a parent like ...",1,-0.9062,2018
1,Geometer99,1526342301,2018-05-14 23:58:21+00:00,What I did to my students who didn't even star...,2,-0.1635,2018
2,The_Gr8_Catsby,1535173849,2018-08-25 05:10:49+00:00,When you walk down the hall and hear a kinderg...,3,-0.9738,2018
3,Lin0ge,1536850974,2018-09-13 15:02:54+00:00,Teaching middle school is like my boss saying ...,4,0.8622,2018
4,Tech_Whisperer,1535477630,2018-08-28 17:33:50+00:00,Back to Schoolnan,5,0.0000,2018

In [15]:
top_2018_final.to_csv('top_2018_final.csv')